.image-list {
    display: grid;
    /* Create set number of columns
    auto-fill will determine the number of columns
    minmax means each column is minimum 250px, 1fr is max */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px; /* Each cell will have spacing*/
    /* Determine the height of the rows 
    Put 0 gap horizontally between rows*/
    grid-auto-rows: 0 10px; 
    /* Need to determine the height of each separate image and then 
    use the following function */
    
}

.image-list img {
    width: 250px;
    grid-row-end: span 2;
}